body {
	background:url(../img/pattern-bg.jpg) repeat;
	font:1.2em Arimo;
	font-weight:400px;
	line-height:1.4em;
	word-wrap:break-word;
}
.wrapper {
	width:75%;
	margin:2.5em auto 2.5em;
	min-width:480px;
}
.header-wrapper {
	padding:2.5em 4em;
	display:block;
	background:rgba(255,255,255,.8);
	border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
}
.main-wrapper {
	background:#fff;
	padding:2.5em 5em;
	overflow:hidden;
}
.header-wrapper, .main-wrapper, .footer-wrapper {
	box-shadow:0 0 3px 0 black;
	-webkit-box-shadow:0 0 3px 0 black;
	-moz-box-shadow:0 0 3px 0 black;
}
nav {
	margin-top:2.2em;
}
nav ul li {
	display:inline;
	margin-right:1.6em;
}
nav ul li a {
	color:#61C837;
	font:1.7em Marck Script;
	font-weight:500;
}
nav ul li a:hover, nav ul li a:visited {
	color:#5F217A;	
}
a {
	text-decoration:none;
}
h1 {
	font:3em Marck Script;
	color:#C937AB;
	text-align:center;
	margin:.6em 0;
}
h2  {
	color:#666;
	font:1.6em Satisfy;
	text-align:right;
	padding-right:3.5em;
}
section header, .f-header {
	font:2.3em Marck Script;
	padding:1.6em 0 .8em;
}
section p {
	text-indent:3em;
}
.marked {
	text-decoration:underline;
}
.rule {
	font-style:italic;
	font-size:1.2em;
}
.figure {
	margin:1em 0;
	display:inline-block;
	width:48%;
	border:1px solid #aaa;
	padding:10px;
	overflow:hidden;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.figure img {
	width:100%;
	border:1px solid #666;
	margin:0;
}
.figure, .figure img {
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	transition:box-shadow .2s ease-in;
}
.figure img:hover {
	box-shadow:0 0 5px #333;
	-webkit-box-shadow:0 0 5px #333;
	-moz-box-shadow:0 0 5px #333;
}
.caption {
	padding:1em 1.5em;
}
.figure ul {
	list-style-type:circle;
}
.figure div:first-line {
	font-weight:bold;
}
.footer-wrapper {
	background:#ACD6CD;	
	padding:0 5em 4em;
	border-radius:0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
}
footer p {
	margin:.2em 0;
}
footer p a:hover, footer p a:active {
	text-decoration:underline;
}
.f-header {
	margin-top:0;
}
@media (min-width:480px) and (max-width:1199px) {
	.figure {
		width:100%;
		margin:.3em 0;
	}
	.figure img {
		width:100%;
	}
	.wrapper {
		width:95%;
	}
	.main-wrapper, .header-wrapper, .footer-wrapper {
		padding:1.5em;
	}
	section header {
		padding:1em;
	}
	section p {
		text-indent:1em;
	}
	.f-header {
		padding:.5em 0;
	}
}
@media (min-width:1200px) {
	.figure:nth-child(odd) {
		float:left;
		margin-right:4%;
	}
	.figure:nth-child(even) {
		float:right;
	}
}
