		body {
			padding:0;
			margin:0;
		}
		main {
			padding:20px;
		}
		ul { font-size: 0; padding:0; margin:0;}
		ul li {
			display:inline-block;
			list-style: none;
			text-align: center;
			width:20%;
			margin:auto;
		}
		ul li a {
			color:#fff;
			text-decoration: none;	
			font:14px Tahoma;
			margin:20px 0;
			font-weight:bold;
			transition:text-shadow;
			display:block;
		}
		ul li a:hover {
			text-shadow:1px 2px 2px #666;
			transition:text-shadow .3s ease-in;
			-webkit-transition:text-shadow .3s ease-in;
     		-moz-transition:text-shadow .3s ease-in;
     		-o-transition:text-shadow .3s ease-in;
		}
		nav {
			background:#bbb;
			display:block;
			width:100%;
			text-align:justify;
			clear:left;
		}
		nav::after {
		    content: '';
		    display: inline-block;
		    width: 100%;
		}
		nav ul {
		    vertical-align: middle;
		}
		.logo {
			float:left;
			width:30%;
			max-width: 200px;
		}
		.logo img {
			width:100%;
		}
		form {
			float:right;
			padding:3%;
			width:50%;
		}
		input[type="search"]{
			width:60%;
		}
		.sticky {
		  position: fixed;
		  top: 0px;  /* если ноль заменить на число (и в скрипте тоже), то блок будет прилипать до того, как верхний край окна браузера дойдёт до верхнего края элемента. Может быть отрицательным числом. Применим, например, при фиксированном сверху меню */
		  z-index: 101;
		}
